.datasets_wrap{
    width:100%;
}

.datasets{
    padding:0 80px;
}

.h2{
    font-weight: 300;
    font-size: 45px;
    line-height: 69px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    margin:150px 0 30px;
}

.datasets_desc{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #B7B7B7;
    margin-bottom:65px;
}

.lists{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:90px 56px;
    padding-bottom:150px
} 

.list{
    background: #FFFFFF;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    overflow: hidden;
    transition:all 0.2s;
    position:relative;
    top:0;
}

.list:hover{
    top:-10px;
}

.datasets_wrap .img{
    position: relative;
    padding-bottom:100%;
    border-radius: 60px;
    overflow: hidden;
}

.datasets_wrap .img img{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.list_text{
    padding:28px 36px 22px;
}

.list_title{
    font-family: Spartan;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #280E0E;
    text-align: center;
}

.list_type{
    text-align: center;
    margin:20px 0;
}

.list_type span{
    font-family: Spartan;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #0BBDC8;
}

.list_type span:after{
    display:inline-block;
    content: "";
    width:1px;
    height:8px;
    margin:3px 10px 0;
    background-color:rgb(175, 175, 175);
}

.list_type span:last-child:after{
    display:none;
}

.datasets_btn{
    margin-top:30px;
    height:41px;
    position:relative;
}

.datasets_btn a{
    display:block;
    width: 138px;
    height: 41px;
    background: #0BBDC8;
    border-radius: 22.5px;
    text-align: center;
    color:#fff;
    line-height:41px;
    font-family: Spartan;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.3s;
    opacity: 0; 
    position:absolute;
    top:100px;
    left:50%;
    transform: translateX(-50%);
}

.list:hover .datasets_btn a{
    opacity: 1; 
    top:0;
    cursor: pointer;
}