#footer{
    width:100%;
    height:397px;
    background-color:#fff;
}

.footer_top{
    padding:73px 126px 0;
    display:flex;
    justify-content: space-around;
}

.footer_top div, .footer_logo{
    min-width:20%;
    max-width:20%;
    flex:1;
}

.footer_logo span{
    display:inline-block;
    width:37px;
} 

.footer_top_title{
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #1C1C1C;
}



.footer_top li{
    font-family: Spartan;
    font-size: 12px;
    margin-top:27px;
}

.footer_bottom{
    padding:95px 126px 0;
    display:flex;
    justify-content: space-around;
}

.footer_bottom p{
    font-family: Spartan;
    font-size: 12px;
    margin-top:27px;
    min-width:20%;
    max-width:20%;
    flex:1;
}

.footer_bottom p a{
    font-family: Spartan;
    font-size: 12px;
    color:#000;
}

.footer_sns span{
    display:inline-block;
    margin-right:23px;
}

.footer_sns span:last-child{
    margin-right:0;
}

.footer_sns_mobile{
    display:none;
}

@media only screen and (max-width: 1200px){
    #footer{
        padding-bottom:20px;
    }

    .footer_top,
    .footer_bottom{
        display:block;
        padding:55px 80px 0;
        overflow: hidden;
    }

    .footer_logo{
        margin-bottom:30px;
    }

    .footer_top div,
    .footer_bottom p{
        float:left;
        width:25%;
        max-width:25%;
        min-width:25%;
    }

    .footer_top li{
        margin-top:18px;
    }

    .footer_none{
        display:none;
    }

}

@media only screen and (max-width: 767px){
    .footer_top div,
    .footer_bottom p{
        width:50%;
        max-width:50%;
        min-width:50%;
    }

    .footer_top div{
        height:120px;
        margin-bottom:50px;
    }

    .footer_bottom{
        padding-top:0;
        padding-bottom:20px;
    }
}

@media only screen and (max-width: 500px){
    .footer_bottom{
        display:none;
    }

    .footer_bottom.footer_sns_mobile{
        display:block;
        text-align: center;
    }

    .footer_bottom p{
        width:100%;
        max-width: 100%;
        min-width: 100%;
        float:none;
    }

     .footer_bottom p.footer_sns{
        text-align: center;
        margin-top:0;
    }

    .mobile_link{
        display:flex;
        justify-content: space-between;
    }

    .footer_logo span{
        width:25px;
    }

    .footer_top li{
        margin-top:15px;
        font-size:11px;
    }

    .footer_top_title,
    .footer_bottom p,
    .footer_bottom p a{
        font-size:11px;
    }
}

@media only screen and (max-width: 468px){
     .footer_top{
        padding:30px 30px 0;
    }

    .footer_bottom.footer_sns_mobile{
        padding:0 45px 30px;
    }
   
}